# Operator

Operator simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.
Tipe tipe operator:
1. Operator Aritmatika
2. Operator Assinment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

## Operator Aritmatika

Operator Aritmatika digunakan untuk melakukan operasi matematika yang umum.
Macam macam operator aritmatika, yaitu:

1. (+)  : Penjumlahan
2. (-)  : Pengurangan
3. (*)  : Perkalian
4. (/)  : Pembagian
5. (%)  : Modulus
6. (**) : Perpangkatan
7. (//) : Pembagian dengan hasil pembulatan flooring

### Contoh Penggunaan Operator Aritmatika

In [2]:
#Penjumlahan
print('Penjumlahan')
print(2+2)
print('-'*20)
#Pengurangan
print('Pengurangan')
print(2-3)
print('-'*20)
#Perkalian
print('Perkalian')
print(2*3)
print('-'*20)
#Pembagian
print('Pembagian')
print(2/3)
print('-'*20)
#Modulus
print('Modulus')
print(3%2)
print('-'*20)
#Perpangkatan
print('Perpangkatan')
print(2**3)
print('-'*20)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print(3//2)
print('-'*20)

Penjumlahan
4
--------------------
Pengurangan
-1
--------------------
Perkalian
6
--------------------
Pembagian
0.6666666666666666
--------------------
Modulus
1
--------------------
Perpangkatan
8
--------------------
Pembagian pembulatan flooring
1
--------------------

### Latihan Operator 1

In [ ]:
#Buatlah Program penerapan operator Aritmatika
#dengan nilai - nilai yang berbeda dari contoh diatas

### Jawaban

In [ ]:
#Penjumlahan
print('Penjumlahan')
print(4+5)
print('-'*20)
#Pengurangan
print('Pengurangan')
print(4-5)
print('-'*20)
#Perkalian
print('Perkalian')
print(4*5)
print('-'*20)
#Pembagian
print('Pembagian')
print(4/5)
print('-'*20)
#Modulus
print('Modulus')
print(5%4)
print('-'*20)
#Perpangkatan
print('Perpangkatan')
print(4**5)
print('-'*20)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print(5//4)
print('-'*20)

## Operator Assignment

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

1. (=)   : Contohnya x = 5      -> x = 5
2. (+=)  : Contohnya x = x + 5  -> x += 5
3. (-=)  : Contohnya x = x - 5  -> x -= 5
4. (*=)  : Contohnya x = x * 5  -> x *= 5
5. (/=)  : Contohnya x = x / 5  -> x /= 5
6. (%=)  : Contohnya x = x % 5  -> x %= 5
7. (//=) : Contohnya x = x // 5 -> x -= 5
8. (**=) : Contohnya x = x ** 5 -> x -= 5

### Contoh Penggunaan Operator Aritmatika

In [3]:
#Penjumlahan
print('Penjumlahan')
x = 5
x = x + 5
print(x)
x = 5
x += 3
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x = 5
x = x - 5
print(x)
x = 5
x -= 3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x = 5
x = x * 5
print(x)
x = 5
x *= 3
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x = 5
x = x / 5
print(x)
x = 5
x /= 3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x = 5
x = x % 5
print(x)
x = 5
x %= 3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x = 5
x = x // 5
print(x)
x = 5
x //= 3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x = 5
x = x ** 5
print(x)
x = 5
x **= 3
print(x)
print('-'*20)

Penjumlahan
10
8
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
Pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatan
3125
125
--------------------

### Latihan Operator 2

In [ ]:
# Buatlah Program penerapan operator assignment
# dengan nilai -nilai yang berbeda dari contoh diatas

### Jawaban

In [ ]:
#Penjumlahan
print('Penjumlahan')
x = 4
x = x + 4
print(x)
x = 4
x += 4
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x = 4
x = x - 4
print(x)
x = 4
x -= 4
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x = 4
x = x * 4
print(x)
x = 4
x *= 4
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x = 4
x = x / 4
print(x)
x = 4
x /= 4
print(x)
print('-'*20)

#Modulus
print('Modulus')
x = 4
x = x % 4
print(x)
x = 4
x %= 4
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x = 4
x = x // 4
print(x)
x = 4
x //= 4
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x = 4
x = x ** 4
print(x)
x = 4
x **= 4
print(x)
print('-'*20)

## Operator Pembanding

Operator Pembanding digunakan untuk memandingkan 2 nilai atau variabel
Macam macam Operator pembanding:

1. (==) -> Samadengan
2. (!=) -> Tidak samadengan
3. (>)  -> Lebih dari
4. (<)  -> Kurang dari
5. (>=) -> Lebih dari dan samadengan
6. (<=) -> Kurang dari dan samadengan

### Contoh Penggunaan operator pembanding

In [4]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

### Latihan Operator 3

In [ ]:
# Buatlah program penerapan operator pembanding
# dengan nilai nilai yang berbeda dari contoh diatas

### Jawaban

In [7]:
print(4==3)
print(4!=3)
print(4>3)
print(4<3)
print(4>=3)
print(4<=3)

False
True
True
False
True
False

## Operator Logika

Operator Logika digunakan untuk mengkombinasikan statement statement kondisional
Macam macam operator logika:

1. and -> kondisi menjadi benar apabila semua statementnya benar
2. or  -> kondisi menjadi benar apabila salah satu statementnya benar
3. not -> membalik hasil dari benar ke salah dan salah ke benar

### Contoh penggunaan operator logika

In [5]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

### Latihan operator 4

In [ ]:
# Buatlah program penerapan operator logika
# dengan nilai nilai yang bereda dari contoh diatas

### Jawaban

In [6]:
print(False and True)
print(False or True)
print(not False and False)

False
True
False

## Operator Membership / Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek.
Macam macam operator keanggotaan:

1. in     -> return True ketika nilai tertentu dalam sebuah urutan ada
2. not in -> return True ketika nilai tertentu dalam sebuah urutan tidak ada

### Contoh penggunaan operator keanggotaan

In [8]:
a = (1, 2, 3, 4, 5, 6)
b = 2
print(b in a)

print('-'*20)

a = (1, 2, 3, 4, 5, 6)
c = 7
print(c not in a)

True
--------------------
True

### Latihan operator 5

In [ ]:
# Buatlah program penerapan operator keanggotaan membership
# dengan nilai-nilai yang berbeda dari contoh diatas

### Jawaban

In [10]:
a = (4, 7, 5, 9, 7, 3,)
b = 5
print(b in a)

print('-'*20)

a = (4, 7, 5, 9, 7, 3,)
c = 1
print(c not in a)

True
--------------------
True

# Variabel

Variabel : Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.
Syarat syarat penamaan variabel

1. Karakter- karekter yang digunakan untuk penamaan variabel adalah alphabet, angka dan underscore.
2. Karakter pertama variabel harus berupa huruf atau underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword aau reserved words dari bahasa python seperti for, if, dan lainnya.
4. Karakter pada nama variabe; bersifat sensitif (case-sensitive).

In [14]:
# Membuat variabel
kalimat = "Ini adalah variabel"
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [15]:
# Menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

Ini adalah variabel
4
2.5
True
(4+1j)

### Latihan 1

In [ ]:
# Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
# lalu tampilkan variabel menggunakan fungsi print

### Jawaban

In [25]:
kalimat = "Racing"
bilangan5 = 9
bilangan6 = 1.4
bilangan7 = False
bilangan8 = 8j+7

In [26]:
print(kalimat)
print(bilangan5)
print(bilangan6)
print(bilangan7)
print(bilangan8)

Racing
9
1.4
False
(7+8j)

## Tipe Data dan Konversi Tipe Data

### Tipe Data

5 tipe data yaitu :
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [16]:
# Menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

### Latihan 2

In [ ]:
# Cek tipe data variabel yang telah kalian buat pada latihan 1

### Jawaban

In [ ]:
print(type(kalimat))
print(type(bilangan5))
print(type(bilangan6))
print(type(bilangan7))
print(type(bilangan8))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## Konversi Tipe Data

In [17]:
# Konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [18]:
# Konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [19]:
# Konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [21]:
# Konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [22]:
# Konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

### Latihan 3

In [ ]:
print(int(bilangan5))
print(int(bilangan6))
print(int(bilangan7))

9
1
0

In [ ]:
print(float(bilangan5))
print(float(bilangan6))
print(float(bilangan7))

9.0
1.4
0.0

In [27]:
print(str(bilangan5))
print(str(bilangan6))
print(str(bilangan7))

9
1.4
False

In [28]:
print(bool(bilangan5))
print(bool(bilangan6))
print(bool(bilangan7))

True
True
False

In [29]:
print(complex(bilangan5))
print(complex(bilangan6))
print(complex(bilangan8))

(9+0j)
(1.4+0j)
(7+8j)