In [ ]:
for val in sequence:
  loop body

In [ ]:
# Program untuk Menghitung Jumlah Semua Angka dalam Seuah List
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# Iterasi di dalam List
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

In [ ]:
# Program untuk Melakukan Iterasi di dalam List melalui Indeks
minuman = ["Teh", "Boba", "Kopi", "Susu"]
p = len(minuman)

# Iterasi di dalam List melalui Indeks
for i in range(p):
  print(minuman[i])

Teh
Boba
Kopi
Susu

In [ ]:
# Contoh for loop Menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen Sudah Habis")

Teh
Boba
Kopi
Susu
Elemen Sudah Habis

In [ ]:
while test_expression:
  Body of while

In [ ]:
# Program untuk Menjumlahkan Semua
# Bilangan Asli Hingga Suku ke-n
# Jum = 1 + 2 + 3 + ... + n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i + 1

print(jumlah)

55

In [ ]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) # Dieksekusi diluar Looping

55

### Latihan 1

In [ ]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

for i in list_tagihan:
  total_tagihan += i

print(total_tagihan)

550000

### Latihan 2

In [35]:
tagihan = [50000, 75000, 125000, 300000, 200000]
total_tagihan = 0
p = len(tagihan)
i = 1

while i <= p:
  total_tagihan = total_tagihan + tagihan[i-1]
  i = i + 1
else:
  print(total_tagihan)

750000